<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="ESPL.DaoFactory" type="ESPL.Framework.Db.Configuration.DaoFactoryProviderSection, ESPL.Framework" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="Bluevolt.POC.Common" />
    <namespace name="Bluevolt.POC.Common" />
    <alias alias="DataService" type="Bluevolt.POC.Common.IDataService, Bluevolt.POC.Common" />
    <container name="Services">
      <register type="DataService" mapTo="Bluevolt.POC.Database.DataService, Bluevolt.POC.Database" />
      <!--<register type="DataService" mapTo="Bluevolt.POC.TestDao.DataServiceDummy, Bluevolt.POC.TestDao" />-->
    </container>
  </unity>
  <ESPL.DaoFactory defaultProvider="DBProvider">
    <providers>
      <clear />
      <add name="TestProvider" type="ESPL.Framework.Db.GenericDaoFactory, ESPL.Framework">
        <factoryTypes>
          <add name="POC" assembly="Bluevolt.POC.TestDao" />
        </factoryTypes>
      </add>
      <add name="DBProvider" type="ESPL.Framework.Db.GenericDaoFactory, ESPL.Framework">
        <factoryTypes>
          <add name="POC" assembly="Bluevolt.POC.Database" />
        </factoryTypes>
      </add>
    </providers>
  </ESPL.DaoFactory> 
  <connectionStrings>
    <add name="BlueVoltPOCContext" connectionString="metadata=res://*/DBHelper.BuleVoltPOCModel.csdl|res://*/DBHelper.BuleVoltPOCModel.ssdl|res://*/DBHelper.BuleVoltPOCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ESPLL044\SQLEXPRESS;initial catalog=BlueVoltPOC;user id=sa;password=espl@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>